<h2>Me</h2>
<ul class="nav nav-pills nav-stacked col-md-2">
  <li role="presentation" class="active"><a role="tab" href="#details" data-toggle="tab">Details</a></li>
  <li role="presentation"><a role="tab" href="#user-devices" data-toggle="tab">Devices</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane col-md-10 active" id="details">
        
        <h3 class="displayName"></h3>
        <h3><small class="place"></small></h3>
    </div>
    <div role="tabpanel" class="tab-pane col-md-10" id="user-devices">
        <ul class="linked list-group">
            
        </ul>
        <ul class="unlinked list-group">
        </ul>
    </div>
</div>
